<!-- about -->
<div class="container" id="about">
  <div class="section">
    <h4>10ブックスとは</h4>
    <p>10ブックスでは、様々な人の人生を変えた十冊を見ることができます</p>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
          <h5 class="center">本棚</h5>

          <p class="light">自分の人生を変えた十冊の本を登録することができます</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">record_voice_over</i></h2>
          <h5 class="center">人生</h5>

          <p class="light">様々な人の人生を変えた十冊から学びましょう</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
          <h5 class="center">お気に入り</h5>

          <p class="light">気に入った本棚はお気に入りに登録していつでも確認できます</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
