<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">人生を変えた十冊</h1>
    <div class="row center">
      <h5 class="header col s12 light"></h5>
    </div>
    <%= render 'signup_button'%>
    <br><br>

  </div>
</div>
