<div class="row">
  <div class="col s12 m12 offset-m3">
    <div class="card-panel z-depth-5" id="body">
      <%= form_tag("/login", id: "formValidate") do %>
        <h4 class="center">ログイン</h4>
        <p>まだ登録していない方は
          <a href="/signup">こちら</a>
          から登録してください。
        </p>
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate" name="email" id="email" value="<%= @email %>">
                <label for="email">メールアドレス</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" type="password" class="validate" data-length="16" name="password" value="<%= @password %>">
                <label for="password">パスワード</label>
                <%= link_to "パスワードを忘れた方", new_password_reset_path %>
              </div>
            </div>
            <p>テストユーザーメールアドレス: test@test.com</p>
            <p>パスワード: password</p>

            <label>
              <input type="checkbox" name="remember_me">
              <span>Remember me on this computer</span>
            </label>
            <br><br>

            <button class="btn waves-effect waves-light center" type="submit" name="action">ログイン
               <i class="fa fa-sign-in right"></i>
             </button>
          </form>
        </div>
      <% end %>
      <a class="FbBtn" href="/auth/facebook">
         <div class="FbBtnLabel">Facebookでログイン</div>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#formValidate").validate({
    rules: {
      email: {
        required: true,
        email:true,
        maxlength: 255
      },
      password: {
        required: true,
        minlength: 6,
        maxlength: 16
      }
    },
    messages: {
           email:{
             required: "メールアドレスを入力してください",
             email: "不正なフォーマットです",
             maxlength: "255文字以内で指定してください"
           },
           password:{
             required: "パスワードを入力してください",
             minlength: "6~16文字で指定してください",
             maxlength: "6~16文字で指定してください"
           }
       },
       errorElement : 'div',
       errorPlacement: function(error, element) {
         error.css('color', 'red');
         var placement = $(element).data('error');
         if (placement) {
           $(placement).append(error)
         } else {
           error.insertAfter(element);
         }
       }

  });
</script>
