<div class="row">
  <div class="col s12 m12 offset-m3">
    <div class="card-panel z-depth-5" id="body">
      <%= form_tag("/password_resets", id: "formValidate") do %>
        <h4 class="center">パスワード再設定</h4>
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate" name="email" id="email" value="<%= @email %>">
                <label for="email">メールアドレス</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light center" type="submit" name="action">送信
               <i class="fa fa-sign-in right"></i>
             </button>

          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#formValidate").validate({
    rules: {
      email: {
        required: true,
        email:true,
        maxlength: 255
      }
    },
    messages: {
           email:{
             required: "メールアドレスを入力してください",
             email: "不正なフォーマットです",
             maxlength: "255文字以内で指定してください"
           }
       },
       errorElement : 'div',
       errorPlacement: function(error, element) {
         error.css('color', 'red');
         var placement = $(element).data('error');
         if (placement) {
           $(placement).append(error)
         } else {
           error.insertAfter(element);
         }
       }

  });
</script>
