/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import "materialize/components/color-variables";
$primary-color: color("green", "darken-2") !default;
@import 'materialize';

/* header */
#brand-logo {
  margin-left: 10px;
  font-size: 30px;
}

#nav-mobile {
  margin-right: 10px;
}

/* トップページ */
html{
  scroll-behavior: smooth;
}

body {
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
}

#index-banner {
  background-image: url('header.jpg');
  background-size: cover;
}

#about {
  width: 70%;
  border-bottom: thin solid gray;
  margin-top: -50px;
  padding-top: 100px;
  h4,p {
    text-align: center;
  }
  p {
    margin-bottom: 40px;
    background: linear-gradient(transparent 70%, yellow 70%);
  }
}

#rank {
  width: 70%;
  border-bottom: thin solid gray;
  h4 {
    text-align: left;
  }
}

#people {
  width: 70%;
}

/* footer */
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

#toast-container {
    min-width: 10%;
    right: 50%;
    transform: translateX(50%);
}
