// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#collection-header {
  border-top: none;
}

#book-show {
 width: 70%;
 margin-top: 30px;
}

#book_show_img {
  position: absolute;
  margin-top: 30px;
  left: 10px;
  width: 169px;
  height: 250px;
}

#author {
  margin-left: 0;
}

.p-book {
  margin-left: 10px;
  margin-top: 10px;
}

#link {
  margin-top: 323px;
  margin-right: 10px;
}
