// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body {
  margin-top: 50px;
  width: 50%;
}

#show-shelf {
  p,pre {
    font-style: italic;
    font-weight: bold;
  }
}

#favorite-text {
  color: white;
}

#profile {
  border: none;
  padding: 0;
}

#profile-item {
  padding: 0;
}

#profile-image {
  position: relative;
  margin-bottom: 5px;
}

#edit-collection {
  border: none;
}

#job {
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
}

#table {
  left: 25%;
  width: 50%;
  position: relative;
}
