<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "10-books", root_path, id: "brand-logo"%>
      <% if logged_in? %>
        <%= render 'layouts/nav_logged_in' %>
      <% else %>
        <%= render 'layouts/nav_not_logged_in' %>
      <% end %>
    </div>
  </nav>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });

  $(function() {
    $('#search-field').change(function() {
        var param = $(this).val();
        var url;
        // スラッシュをエスケープ(他にもしないといけないかも)
        param = param.replace(/\//g, '').replace(/\s/g, '')
        url = '/books/' + param;
        if(!param) {
          url = location.href;
        }
        $('#search-button').attr('href', url);
    });
  });
</script>
